[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
#disable=

extension-pkg-whitelist=pylint_pydantic
disable=missing-module-docstring,
        too-few-public-methods,
        no-name-in-module

init-hook='import sys; sys.path.append("/home/jtordai/projects/climate_api/")'

[FORMAT]
good-names=i,j,k,ex,Run,_,pk,x,y,k,d,v,e,id