bcrypt
black
coverage-badge
email-validator
fastapi[all]==0.97.0
gunicorn
httpx
loguru
motor
PyJWT
pydantic
pydantic[email]
pylint
pytest
pytest-cov
pytest-mock
python-decouple
requests
ruff
uvicorn[standard]