bcrypt
black
email-validator
fastapi[all]==0.109.1
gunicorn
httpx
loguru
motor
PyJWT
pydantic
pydantic[email]
pyparsing
pytest
pytest-cov
pytest-mock
python-decouple
python-dotenv
ruff
uvicorn[standard]
